<footer>
   <div class="footer-info py-5">
    <div class="container">
        <div class="row gy-4">
            <div class="col-md-4 text-center text-white">
                <h4 class="text-uppercase">Location</h4>
                <p class="pt-2">
                    2215 John Daniel Drive<br/>
                    Clark, MO 65243
                </p>
            </div>
            <div class="col-md-4 text-center">
                <h4 class="text-uppercase text-white">Around the Web</h4>
                <div class="social-network pt-2 d-flex justify-content-center">
                    <a class="d-flex justify-content-center align-items-center me-2"><i class=" text-white fa-brands fa-facebook-f"></i></a>
                    <a class="d-flex justify-content-center align-items-center me-2"><i class=" text-white fa-brands fa-twitter"></i></a>
                    <a class="d-flex justify-content-center align-items-center me-2"><i class=" text-white fa-brands fa-linkedin-in"></i></a>
                    <a class="d-flex justify-content-center align-items-center me-2"><i class=" text-white fa-solid fa-basketball"></i></a>
                </div>
            </div>
            <div class="col-md-4 text-center text-white">
                <h4 class="text-uppercase">About Freelancer</h4>
                <div class="content pt-2 d-flex justify-content-center">
                    <p class=" text-width">Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
                </div>
               
            </div>
        </div>
    </div>
   </div>

   <div class="footer-copyright text-white d-flex justify-content-center align-items-center py-2 ">
     <p>Copyright © Your Website 2021</p>
   </div>
</footer>

