<section id="notFound">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-4 offset-md-2 py-5">
                <img src="../../assets/img/angular-404.svg" class="w-100" alt="NotFoundPic">
            </div>
            <div class="col-md-4 align-self-center">
                <h1 class="text-uppercase">page not found</h1>
                <p>We're sorry. The page you are looking for cannot be found.</p>
            </div>
        </div>
    </div>
</section>
