<section id="contactSec" class="py-5">
    <div class="container">
        <div class="header-about text-center">
            <h2 class="text-uppercase">contact me</h2>
            <div class="start-icon"><i class="fa-solid fa-star fs-3"></i></div>
        </div>

        <div class="row py-5">
            <div class="col-md-8 offset-md-2">
                <input type="text" class="form-control pb-4" placeholder="Name">
            </div>
            <div class="col-md-8 offset-md-2">
                <input type="email" class="form-control py-4" placeholder="Email Adress">
            </div>
            <div class="col-md-8 offset-md-2">
                <input type="text" class="form-control py-4" placeholder="Phone Number">
            </div>
            <div class="col-md-8 offset-md-2">
               <textarea class="form-control py-4" rows="3" placeholder="Message"></textarea>
            </div>
            <div class="col-md-8 offset-md-2 my-4">
                <button class="btn text-white px-4 py-3 text-capitalize ">send</button>
            </div>
        </div>
    </div>
</section>
