<section id="portfolioSec" class="py-5">

    <div class="container">
        <div class="header-portfolio text-center">
            <h2 class="text-uppercase">portfolio</h2>
            <div class="start-icon"><i class="fa-solid fa-star fs-3"></i></div>
        </div>
        <div class="row pt-5 gy-3">
            <div class="col-md-4">
               <figure class="position-relative protfolio-pic d-flex justify-content-center ">
                <img src="../../assets/img/cabin.png" class="w-90 rounded-3"  alt="cabin">
                <div class="layer w-90 h-100 position-absolute top-0 rounded-3 d-flex justify-content-center align-items-center">
                    <a><i class="fa-solid fa-plus text-white"></i></a>
                </div>
               </figure>
            </div>
            <div class="col-md-4">
                <figure class="position-relative protfolio-pic d-flex justify-content-center ">
                 <img src="../../assets/img/cake.png" class="w-90 rounded-3"  alt="cake">
                 <div class="layer w-90 h-100 position-absolute top-0 rounded-3 d-flex justify-content-center align-items-center">
                     <a><i class="fa-solid fa-plus text-white"></i></a>
                 </div>
                </figure>
             </div>
             <div class="col-md-4">
                <figure class="position-relative protfolio-pic d-flex justify-content-center ">
                 <img src="../../assets/img/circus.png" class="w-90 rounded-3"  alt="circus">
                 <div class="layer w-90 h-100 position-absolute top-0 rounded-3 d-flex justify-content-center align-items-center">
                     <a><i class="fa-solid fa-plus text-white"></i></a>
                 </div>
                </figure>
             </div>
             <div class="col-md-4">
                <figure class="position-relative protfolio-pic d-flex justify-content-center ">
                 <img src="../../assets/img/game.png" class="w-90 rounded-3"  alt="game">
                 <div class="layer w-90 h-100 position-absolute top-0 rounded-3 d-flex justify-content-center align-items-center">
                     <a><i class="fa-solid fa-plus text-white"></i></a>
                 </div>
                </figure>
             </div>
             <div class="col-md-4">
                 <figure class="position-relative protfolio-pic d-flex justify-content-center">
                  <img src="../../assets/img/safe.png" class="w-90 rounded-3"  alt="safe.png">
                  <div class="layer w-90 h-100 position-absolute top-0 rounded-3 d-flex justify-content-center align-items-center">
                      <a><i class="fa-solid fa-plus text-white"></i></a>
                  </div>
                 </figure>
              </div>
              <div class="col-md-4">
                 <figure class="position-relative protfolio-pic d-flex justify-content-center ">
                  <img src="../../assets/img/submarine.png" class="w-90 rounded-3"  alt="submarine">
                  <div class="layer w-90 h-100 position-absolute top-0 rounded-3 d-flex justify-content-center align-items-center">
                      <a><i class="fa-solid fa-plus text-white"></i></a>
                  </div>
                 </figure>
              </div>
            
        </div>
    </div>

</section>
