<section id="home" class="w-100 vh-100">
    <div class="home-content mt-3 d-flex justify-content-center align-items-center h-100">
        <div class="content mt-5 text-center">
            <img src="../../assets/img/avataaars.svg" class="w-50" alt="">
            <h1 class="text-uppercase text-white pt-2">start angular</h1>
            <div class="start-icon py-md-3"><i class="fa-solid fa-star text-white fs-2"></i></div>
            <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</section>
