#home
{
    background-color: #1ABC9C;
}
.home-content h1 
{
    font-family: Montserrat;
    font-size: 50px;
}
.home-content p
{
    font-family: Lato;
    font-size: 22px;
}
@media screen and (max-width:991px){
    .home-content h1 
    {
        font-size: 40px;
    }
    .home-content p
    {
        font-size: 18px;
    }
}